In [8]:
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

True

In [9]:
import pandas as pd
import psycopg2
from decouple import config

# connect to database
conn = psycopg2.connect(
    host=config('POSTGRES_HOST'),
    port="5432",
    database="db13f2023",
    user=config('POSTGRES_USER'),
    password=config('POSTGRES_PASSWORD')
)

conn.commit()
cur = conn.cursor()

cur.execute("""
    SELECT
        ticker,
    	sum(value) AS values,
    	sum(shares) AS shares,
        holdings.name_of_issuer,
        filings.period_of_report
    FROM
    	holdings
    JOIN filings
    ON
    	filings.filing_id = holdings.filing_id
    JOIN holding_infos
    ON
    	holdings.cusip = holding_infos.cusip
    WHERE
    	 cik = '1067983'
    GROUP BY security_name, holdings.name_of_issuer, ticker, filings.period_of_report
    ORDER BY VALUES DESC;
""")

rows = cur.fetchall()

cur.close()

buffet_holdings = pd.DataFrame(rows, columns=[
    'ticker',
    'values',
	'shares', 
    'name_of_issuer',
    'period_of_report'])

In [10]:
buffet_holdings.head(10)

  ticker        values      shares        name_of_issuer period_of_report
0   AAPL  177591247296   915560382             APPLE INC       2023-06-30
1    BAC   29632524052  1032852006        BANK AMER CORP       2023-06-30
2    AXP   26410583940   151610700   AMERICAN EXPRESS CO       2023-06-30
3     KO   24088000000   400000000          COCA COLA CO       2023-06-30
4    CHV   19372950883   123120120      CHEVRON CORP NEW       2023-06-30
5    OXY   13178796490   224129192  OCCIDENTAL PETE CORP       2023-06-30
6    KHC   11560036039   325634818        KRAFT HEINZ CO       2023-06-30
7    DUT    8578175206    24669778           MOODYS CORP       2023-06-30
8    7HP    3714461041   120952818                HP INC       2023-06-30
9    TRL    3626521918    36095570            DAVITA INC       2023-06-30